
<!-- partial -->

<link rel="stylesheet" href="../assets/styles/login_style.css" />

<header class="jumbotron rounded-0" id="hd">
  <div class="container" data-0="transform: translateY(-50px)" data-500="transform: translateY(50px)">
    <h1>YHC-BANK </h1>
    <hr/>
    <h4>信頼できる銀行</h4><img class="svg" src="https://chenyangho.github.io/catthing/img/Savings-bro.png" alt=""/><img class="img2" src="https://chenyangho.github.io/catthing/img/Credit card-bro.png" alt=""/>
  </div>
</header>
<section id="section_intro">
  <div class="container">
    <form>
      <div class="bank">
        <p>YHC-BANK</p><img class="img1" src="https://cdn.icon-icons.com/icons2/1804/PNG/512/iconfinder-481-university-bank-campus-court-4212926_114964.png" alt=""/>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <hr/>
        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email"/>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <hr/>
        <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password"/>
      </div>
      <button class="btn btn-primary" type="submit"><a href="#" target="_blank" style="color: white;">ログイン</a></button>
      <button class="btn btn-primary" type="submit"><a href="http://localhost:3000/v2/new%20yhc/dist/page/aaa.php" target="_blank" style="color: white;">口座開設</a></button>
      <button class="btn btn-primary" type="submit"><a href="pass.handlebars" target="_blank" style="color: white;">パスワードお忘れの方</a></button>
    </form>
  </div>
</section>
<footer class="jumbotron rounded-0" id="footer">
  <div class="container">
    <h2>今すぐYHC-BANKを利用しましょう。</h2>
    <hr/>
  </div>
</footer>

