<link  rel="stylesheet" href="../assets/styles/styles.css" />
<link rel="stylesheet" href="../assets/styles/login_style.css" />
<link rel="stylesheet" href="../assets/styles/service2.css" />
<link rel="stylesheet" href="../assets/styles/login_style.css" />
<div class="box2" style="margin-top:100px;">
    <div class="box-title" >ログイン完了しました。</div>
    <h1 style="margin:69px">Have a nice day !!</h1>
    <br><br>
</div>

