<link  rel="stylesheet" href="../kuruu-master/assets/styles/styles.css" />
<link rel="stylesheet" href="../kuruu-master/assets/styles/login_style.css" />

<div class="box2" style="margin-top:100px;">
    <div class="box-title" >メールを送信しました</div>
    <p>メール受信後パスワードの変更をお願いします。
    </p>
</div>
