<link  rel="stylesheet" href="../kuruu-master/assets/styles/styles.css" />
<link rel="stylesheet" href="../kuruu-master/assets/styles/login_style.css" />

<div class="box2" style="margin-top:100px;"></div>
<div class="box-title" >お問い合わせ窓口</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">お問い合わせはこちらまで</h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row">
            <a href="tel:XXX-XXXX-XXXX" style="color:white">
              <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                xxx-xxxx-xxxx
              </div>
            </a>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <a href="mailto:YHC@bank.com" style="color: white;">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" >YHC@bank.com</a>
              </a>
            </div>
        </div>
</section>
<section id="section_about">
    <div class="container">
      <div class="row" data-bottom-top="transform: translateY(-100px);opacity: 0"
        data-center="transform: translateY(0px);opacity: 1">
        <div class="col-12">
        </div>
          <a class="col-sm-4 p-3" href="#">
              <div class="img_story"><img src="../kuruu-master/assets/images/qa.jpg" alt="Q&A"></div>
              <h3>よくあるご質問</h3>
              <hr />
              <p>その他ご不明な点がありましたら電話、またはメールでお問い合わせください。</p>
          </a>
          <a class="col-sm-4 p-3" href="#" target="_blank">
              <div class="img_story"><img src="../kuruu-master/assets/images/abc.jpg" alt="利用規約・案内番号など"></div>
              <h3>利用規約・案内番号など</h3>
              <hr />
              <p>利用規約や案内番号、証明書など重要な資料をこちらから見ることが可能です。</p>
          </a>
          <a class="col-sm-4 p-3" href="../kuruu-master/.idea/index.html">
          <div class="img_story"><img src="../kuruu-master/assets/images/main.png" alt="TOPへ"></div>
          <h3>TOPへ戻る</h3>
          <hr />
          </a>
      </div>
    </div>
</section>
