<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>YHC-BANK</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />

        <!-- Third Party css -->
        <!-- Font Awesome icons (free version)-->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>

        <!-- Core theme CSS (includes Bootstrap)-->
        <!--<link rel="stylesheet" href="./assets/styles/index.css" />
        <link rel="stylesheet" href="./assets/styles/style.css" />
        <link  rel="stylesheet" href="/assets/styles/styles.css" />
        <link rel="stylesheet" href="/assets/styles/login_style.css" />
        <link rel="stylesheet" href="/assets/styles/service2.css" />
        <link rel="stylesheet" href="/assets/styles/input_style.css" />-->
    </head>
    <body>
        <!-- partial: nav -->
        <nav class="navbar fixed-top navbar-top navbar-expand-md">
            <div class="container"><a class="navbar-brand nav-link hlink" href="index.html">YHC-BANK</a>
                <div class="navbar-collapse collapse">
                    <ul class="ml-auto navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#section_intro">E-bank紹介&nbsp;&nbsp;/ </a></li>
                        <li class="nav-item"><a class="nav-link" href="#section_about">利用方法&nbsp;&nbsp;/</a></li>
                        <li class="nav-item"><a class="nav-link" href="#toiawase">お問い合わせ窓口&nbsp;&nbsp;/</a></li>
                        <li class="nav-item"><a class="nav-link" href="#footer" target="_blank">ネット口座開設</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {{{body}}}
        <!-- toiawase-->
        <section class="page-section bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">お問い合わせはこちら</h2>
                <a class="btn btn-light btn-xl" href="toiawase.handlebars">お問い合わせ窓口</a>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container">
                <div class="small text-center text-muted">YHC-BANK 2020</div>
            </div>
        </footer>
    </body>
</html>
